
.effect-layer-frame {
  position: absolute;
  z-index: 20;
  top: 0px;
  left: 10px;
  bottom: 0px;
  right: 10px;
  overflow: hidden;
}

.ef-correct {
  position: absolute;
  border-radius: 50%;
  border: 55px dotted rgb(4, 149, 216);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.0;
  animation: 0.4s ease-out animation-ef-correct;
}


@keyframes animation-ef-correct {
  0% {
    transform: scale(0.05) rotate(0deg);
    opacity: 1.0;
  }
  100% {
    transform: scale(1.0) rotate(180deg);
    opacity: 0.2;
  }
}


.ef-miss {
  position: absolute;
  border: 45px dashed rgb(218, 71, 3);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.0;
  animation: 0.4s ease-out animation-ef-miss;
}


@keyframes animation-ef-miss {
  0%{
    transform: scale(1.0) rotate(0deg);
    opacity: 1.0;
  }
  100% {
    transform: scale(0.05)  rotate(180deg);
    opacity: 0.1;
  }
}


.ef-input-cursor {
  border:  dashed 40px #B04000;
  position: absolute;
  width: 150px;
  height: 150px;
}


.parctice-start-animation-layer-frame {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
}