/* ------------------------------------------- */
/* 練習ページの定義                              */
/* ------------------------------------------- */

/* 練習ページの背景画像（透過させるために別フレームとしている） */
.practice-page-background {
  display: flex;
  background: center/100% url('../../../images/background-outer-frame.png');
  opacity: 0.3;
  z-index: 1;
}

/* 練習ページの背景色（title-page-backgroundと合わせて利用）*/
.practice-page-outer-frame {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  z-index: 10;
}

/* 練習ページの枠 */
.practice-page-inner-frame {
  position: relative;
  width: 1080;
  height: 768;
  top: 10px;
  background-color: var(--kt-practice-page-background);
  overflow: hidden;
}

/* 練習ページヘッダーの枠 */
.header-frame {
  width: 960px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  background-color: var(--kt-practice-header-background);
  padding: 0px 10px 0px 10px;
  margin: 10px 5px 10px 5px;
}

/* ------------------------------------------- */
/* 成功カウンターの定義                          */
/* ------------------------------------------- */

/* 成功カウンターの枠 */
.success-counter-frame {
  width: 350px;
  height: 70px;
  display: flex;
}

/* 成功カウンターのタイトル */
.success-counter-title {
  color: var(--kt-success-counter-title-color);
  font-size: 60px;
  line-height: 80px;
}

/* 成功カウンターの値の枠 */
.success-counter-value-frame {
  position: relative;
}

/* 成功カウンターの値 */
.success-counter-value-base {
  position: absolute;
  top: 0px;
  left: 0px;
  color: var(--kt-success-counter-value-color);
  font-size: 70px;
  margin-left: 10px;
  line-height: 80px;
}

/* 成功カウンターの値（フェードインアニメーション） */
.success-counter-value-fadein {
  animation: 0.5s step-end animation-success-counter-value-fadein;
  z-index: 9;
}
@keyframes animation-success-counter-value-fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* 成功カウンターの値（一つ前の値をクルッと回すアニメーション） */
.success-counter-before-value {
  z-index: 10;
  opacity: 0;
  animation: 0.5s ease-in animation-success-counter-value;
}
@keyframes animation-success-counter-value {
  0% {
    transform: perspective(100px) rotate3d(0, 0, 1, 0deg) translate3d(0px, 0px, 50px);
    opacity: 1;
  }
  100% {
    transform: perspective(100px) rotate3d(0, 0, 1, 180deg) translate3d(0px, 0px, 0px);
    opacity: 0;
  }
}

/* ------------------------------------------- */
/* 失敗カウンターの定義                          */
/* ------------------------------------------- */

/* 失敗カウンターの枠 */
.miss-counter-frame {
  width: 350px;
  height: 70px;
  display: flex;
}

/* 失敗カウンターのタイトル */
.miss-counter-title {
  color: var(--kt-miss-counter-title-color);
  font-size: 60px;
  line-height: 80px;
}

/* 失敗カウンターの値の枠 */
.miss-counter-value-frame {
  position: relative;
}

/* 失敗カウンターの値 */
.miss-counter-value-base {
  position: absolute;
  top: 0px;
  left: 0px;
  color: var(--kt-miss-counter-value-color);
  font-size: 70px;
  margin-left: 10px;
  line-height: 80px;
}

/* 失敗カウンターの値（フェードインアニメーション） */
.miss-counter-value-fadein {
  animation: 0.5s step-end animation-miss-counter-value-fadein;
  z-index: 9;
}
@keyframes animation-miss-counter-value-fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* 成功カウンターの値（一つ前の値をクルッと回すアニメーション） */
.miss-counter-before-value {
  z-index: 10;
  opacity: 0;
  animation: 0.5s ease-in animation-miss-counter-value;
}
@keyframes animation-miss-counter-value {
  0% {
    transform: perspective(100px) rotate3d(0, 0, 1, 0deg) translate3d(0px, 0px, 50px);
    opacity: 1;
  }
  100% {
    transform: perspective(100px) rotate3d(0, 0, 1, 180deg) translate3d(0px, 0px, 0px);
    opacity: 0;
  }
}

/* ------------------------------------------- */
/* 残り時間の定義                               */
/* ------------------------------------------- */

/* 残り時間の枠 */
.remaining-time-frame {
  position: relative;
  width: 150px;
  height: 70px;
}

/* 残り時間の値 */
.remaining-time-base {
  position: absolute;
  top: 0px;
  color: var(--kt-remaining-time-color);
  font-size: 70px;
  line-height: 80px;
}

/* 残り時間の値（フェードインアニメーション） */
.remaining-time-fadein {
  animation: 0.5s step-end animation-remaining-time-fadein;
  z-index: 9;
}
@keyframes animation-remaining-time-fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* 成功カウンターの値（一つ前の値をクルッと回すアニメーション） */
.remaining-time-before {
  z-index: 10;
  opacity: 0;
  animation: 0.5s ease-out animation-remaining-time;
}
@keyframes animation-remaining-time {
  0% {
    transform: perspective(100px) rotate3d(0, 1, 0, 0deg) translate3d(0px, 0px, 20px);
    opacity: 1;
  }
  100% {
    transform: perspective(100px) rotate3d(0, 1, 0, 180deg) translate3d(0px, 0px, 0px);
    opacity: 0;
  }
}

/* ------------------------------------------- */
/* キーボードの定義                             */
/* ------------------------------------------- */

/* キーボードの枠 */
.keyboard-frame {
  width: 100%;
  height: 200px;
}

/* キーボードのキーの枠 */
.keycap-frame {
  width: 40px;
  height: 40px;
  margin: 3px;
}

/* キーボードのキーのベース（body、body-disable、body-downと組み合わせる定義） */
.keycap-body-base {
  width: 36px;
  height: 36px;
  font-size: 25px;
  transition: ease-out 0.1s;
}

/* キーボードのキー（標準） */
.keycap-body {
  background-color: rgb(236, 255, 183);
  transform: perspective(100px) translate3d(0px, 0px, 0px);
}

/* キーボードのキー（無効） */
.keycap-body-disabled {
  color: #808080;
  opacity: 0.6;
}

/* キーボードのキー（キーダウン状態） */
.keycap-body-down {
  background-color: rgb(92, 99, 72) !important;
  transform: perspective(100px) translate3d(10px, 0px, 0px);
}

/* キーの背景色（左手・人差し指）*/
.keycap-left-first-finger {
  background-color: rgb(200, 241, 154);
}

/* キーの背景色（左手・中指）*/
.keycap-left-second-finger {
  background-color: rgb(154, 241, 222);
}

/* キーの背景色（左手・薬指）*/
.keycap-left-third-finger {
  background-color: rgb(154, 167, 241);
}

/* キーの背景色（左手・小指）*/
.keycap-left-forth-finger {
  background-color: rgb(177, 154, 241);
}

/* キーの背景色（右手・人差し指）*/
.keycap-right-first-finger {
  background-color: rgb(216, 154, 241);
}

/* キーの背景色（右手・中指）*/
.keycap-right-second-finger {
  background-color: rgb(241, 154, 173);
}

/* キーの背景色（右手・薬指）*/
.keycap-right-third-finger {
  background-color: rgb(241, 182, 154);
}

/* キーの背景色（右手・小指）*/
.keycap-right-forth-finger {
  background-color: rgb(241, 218, 154);
}

/* キーの枠（１段目） */
.keyboard-first-row-frame {
  width: 600px;
  margin-left: 10px;
}

/* キーの枠（２段目） */
.keyboard-second-row-frame {
  width: 600px;
  margin-left: 30px;
}

/* キーの枠（３段目） */
.keyboard-theard-row-frame {
  width: 600px;
  margin-left: 50px;
}

/* キーの枠（４段目） */
.keyboard-last-row-frame {
  width: 600px;
  margin-left: 70px;
}

/* ------------------------------------------- */
/* 練習開始アニメーションの定義                  */
/* ------------------------------------------- */

/* 練習開始アニメーションの枠 */
.parctice-start-animation-layer-frame {
  z-index: 21;
}

/* 練習開始アニメーションの文字のベース（animation-1～6の共通定義） */
.practice-start-animation-base {
  color: var(--kt-practice-start-amination-color);
  font-size: 150px;
  opacity: 0;
}

/* 練習開始アニメーションのアニメーション（カウントダウン） */
.practice-start-animation-1 {
  animation: animation-practice-start-animation 1s ease-in 0s;
}

/* 練習開始アニメーションのアニメーション（カウントダウン） */
.practice-start-animation-2 {
  animation: animation-practice-start-animation 1s ease-in 1s;
}

/* 練習開始アニメーションのアニメーション（カウントダウン） */
.practice-start-animation-3 {
  animation: animation-practice-start-animation 1s ease-in 2s;
}

/* 練習開始アニメーションのアニメーション（カウントダウン） */
.practice-start-animation-4 {
  animation: animation-practice-start-animation 1s ease-in 3s;
}

/* 練習開始アニメーションのアニメーション（カウントダウン） */
.practice-start-animation-5 {
  animation: animation-practice-start-animation 1s ease-in 4s;
}

/* 練習開始アニメーションのアニメーション（カウントダウン） */
.practice-start-animation-6 {
  animation: animation-practice-start-animation 1s ease-in 5s;
}
@keyframes animation-practice-start-animation {
  from {
    transform: rotate(0deg) scale(2);
    opacity: 1;
  }
  to {
    transform: rotate(360deg) scale(0.3);
    opacity: 0.1;
  }
}

/* ------------------------------------------- */
/* 練習終了アニメーションの定義                  */
/* ------------------------------------------- */

/* 練習終了アニメーションの枠 */
.practice-end-animation-layer-frame {
  z-index: 21;
}

/* 練習終了アニメーションの文字のベース（animation-1～5の共通定義） */
.practice-end-animation-base {
  color: var(--kt-practice-end-amination-color);
  font-size: 130px;
  opacity: 0;
}

/* 練習開始アニメーションのアニメーション（カウントダウンと結果） */
.practice-end-animation-1 {
  animation: animation-practice-end-animation 3s ease-out 0s;
}

/* 練習開始アニメーションのアニメーション（カウントダウンと結果） */
.practice-end-animation-2 {
  animation: animation-practice-end-animation 3s ease-out 3s;
}

/* 練習開始アニメーションのアニメーション（カウントダウンと結果） */
.practice-end-animation-3 {
  animation: animation-practice-end-animation 3s ease-out 6s;
}

/* 練習開始アニメーションのアニメーション（カウントダウンと結果） */
.practice-end-animation-4 {
  animation: animation-practice-end-animation 3s ease-out 9s;
}

/* 練習開始アニメーションのアニメーション（カウントダウンと結果） */
.practice-end-animation-5 {
  animation: animation-practice-end-animation 3s ease-out 9s;
}
@keyframes animation-practice-end-animation {
  0% {
    transform: perspective(500px) rotate3d(1, 0, 0, 0deg) scale(2);
    opacity: 0.2;
  }
  25% {
    transform: perspective(500px) rotate3d(1, 0, 0, 720deg) scale(1);
    opacity: 1;
  }
  100% {
    transform: perspective(500px) rotate3d(1, 0, 0, 720deg) scale(1);
    opacity: 1;
  }
}

/* ------------------------------------------- */
/* ステージ「桜」の定義                          */
/* ------------------------------------------- */

/* ステージ「桜」の枠 */
.practice-stage-sakura-frame {
  position: relative;
  width: 980px;
  height: 600px;
  overflow: hidden;
  margin: 5px 10px 5px 10px;
  background-image: url(../../../images/background-sakura.png);
  background-size: 100%;
  background-repeat: no-repeat;
}

/* 「文字」の種別が「桜」の画像とアニメーション */
.character-sakura {
  background: center/80% no-repeat url('../../../images/character-sakura.png');
  animation: 2s ease-in infinite animation-character-sakura;
  transform-origin: center center;
}
@keyframes animation-character-sakura {
  0% {
    transform: rotate(0deg) rotate3d(1, 0, 0, 0deg);
  }
  25% {
    transform: rotate(20deg) rotate3d(1, 0, 0, 360deg);
  }
  75% {
    transform: rotate(-20deg) rotate3d(1, 0, 0, 360deg);
  }
  100% {
    transform: rotate(0deg) rotate3d(1, 0, 0, 360deg);
  }
}

/* 「文字」の種別が「小鳥」の画像とアニメーション */
.character-bird {
  background: center/100% no-repeat url('../../../images/character-bird.png');
  animation: 2s ease-in infinite animation-character-bird;
  transform-origin: center center;
  padding-left: 20px;
}
@keyframes animation-character-bird {
  0% {
    transform: perspective(500px) translate3d(0px, 0px, 0px);
  }
  25% {
    transform: perspective(500px) translate3d(0px, 0px, 200px);
  }
  50% {
    transform: perspective(500px) translate3d(0px, 0px, -200px);
  }
  100% {
    transform: perspective(500px) translate3d(0px, 0px, 0px);
  }
}

/* ------------------------------------------- */
/* ステージ「ひまわり」の定義                    */
/* ------------------------------------------- */

/* ステージ「ひまわり」の枠 */
.practice-stage-sunflower-frame {
  position: relative;
  width: 980px;
  height: 600px;
  overflow: hidden;
  margin: 5px 10px 5px 10px;
  background-image: url(../../../images/background-sunflower.png);
  background-size: 100%;
  background-repeat: no-repeat;
}

/* 「文字」の種別が「とんぼ」の画像とアニメーション */
.character-dragonfly {
  background: center/80% no-repeat url('../../../images/character-dragonfly.png');
  animation: 2s ease-in infinite animation-character-dragonfly;
  transform-origin: center center;
}
@keyframes animation-character-dragonfly {
  0% {
    transform: rotate(0deg) rotate3d(1, 0, 0, 0deg);
  }
  25% {
    transform: rotate(20deg) rotate3d(1, 0, 0, 360deg);
  }
  75% {
    transform: rotate(-20deg) rotate3d(1, 0, 0, 360deg);
  }
  100% {
    transform: rotate(0deg) rotate3d(1, 0, 0, 360deg);
  }
}

/* 「文字」の種別が「てんとうむし」の画像とアニメーション */
.character-ladybird {
  background: center/100% no-repeat url('../../../images/character-ladybird.png');
  animation: 2s ease-in infinite animation-character-ladybird;
  transform-origin: center center;
  padding-left: 20px;
}
@keyframes animation-character-ladybird {
  0% {
    transform: perspective(500px) translate3d(0px, 0px, 0px);
  }
  25% {
    transform: perspective(500px) translate3d(0px, 0px, 200px);
  }
  50% {
    transform: perspective(500px) translate3d(0px, 0px, -200px);
  }
  100% {
    transform: perspective(500px) translate3d(0px, 0px, 0px);
  }
}

/* ------------------------------------------- */
/* ステージ「金魚」の定義                        */
/* ------------------------------------------- */

/* ステージ「金魚」の枠 */
.practice-stage-goldfish-frame {
  position: relative;
  width: 980px;
  height: 600px;
  overflow: hidden;
  margin: 5px 10px 5px 10px;
  background-image: url(../../../images/background-goldfish.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}

/* 「文字」の種別が「金魚」の画像とアニメーション */
.character-goldfish {
  background: center/80% no-repeat url('../../../images/character-goldfish.png');
  animation: 1.5s ease-in-out infinite animation-character-goldfish;
  transform-origin: center center;
}
@keyframes animation-character-goldfish {
  0% {
    transform: rotate(0deg) ;
  }
  20% {
    transform: rotate(40deg);
  }
  40% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(-40deg) ;
  }
  80% {
    transform: rotate(-20deg) ;
  }
  100% {
    transform: rotate(0deg) ;
  }
}

/* 「文字」の種別が「出目金」の画像とアニメーション */
.character-blackfish {
  background: center/100% no-repeat url('../../../images/character-blackfish.png');
  animation: 3s ease-in infinite animation-character-blackfish;
  transform-origin: center center;
  padding-left: 20px;
}
@keyframes animation-character-blackfish {
  0% {
    transform: perspective(200px) translate3d(0px, 0px, 0px) rotate(0deg);
  }
  25% {
    transform: perspective(200px) translate3d(0px, 0px, 20px) rotate(40deg);
  }
  50% {
    transform: perspective(200px) translate3d(0px, 0px, -20px) rotate(-20deg);
  }
  100% {
    transform: perspective(200px) translate3d(0px, 0px, 0px) rotate(0deg);
  }
}

/* ------------------------------------------- */
/* ステージ「海底」の定義                        */
/* ------------------------------------------- */

/* ステージ「海底」の枠 */
.practice-stage-seabed-frame {
  position: relative;
  width: 980px;
  height: 600px;
  overflow: hidden;
  margin: 5px 10px 5px 10px;
  background-image: url(../../../images/background-seabed.png);
  background-size: 100%;
  background-repeat: no-repeat;
}

/* 「文字」の種別が「亀」の画像とアニメーション */
.character-turtle {
  background: center/100% no-repeat url('../../../images/character-turtle.png');
  animation: 2s ease-in-out infinite animation-character-turtle;
  transform-origin: center center;
  width: 300px !important;
}
@keyframes animation-character-turtle {
  0% {
    transform: perspective(100px) translate3d(0px, 0px, 0px);
  }
  25% {
    transform: perspective(100px) translate3d(0px, 0px, 20px);
  }
  50% {
    transform: perspective(100px) translate3d(0px, 0px, -20px);
  }
  100% {
    transform: perspective(100px) translate3d(0px, 0px, 0px);
  }
}

/* 「文字」の種別が「タコ」の画像とアニメーション */
.character-octopus {
  background: center/70% no-repeat url('../../../images/character-octopus.png');
  animation: 3s ease-in infinite animation-character-octopus;
  transform-origin: center center;
  padding-left: 20px;
  /* height: 250px !important; */
}
@keyframes animation-character-octopus {
  0% {
    transform: scale(1.0, 1.0) rotate(0deg);
  }
  25% {
    transform: scale(1.0, 1.7) rotate(-40deg);
  }
  50% {
    transform: scale(1.0, 0.5) rotate(20deg);
  }
  100% {
    transform: scale(1.0, 1.0) rotate(0deg);
  }
}

/* 「文字」の種別が「フグ」の画像とアニメーション */
.character-blowfish {
  background: center/70% no-repeat url('../../../images/character-blowfish.png');
  animation: 4s ease-in-out infinite animation-character-blowfish;
  transform-origin: center center;
  width: 250px !important;
}
@keyframes animation-character-blowfish {
  0% {
    transform: rotate(0deg) ;
  }
  20% {
    transform: rotate(40deg);
  }
  40% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(-40deg) ;
  }
  80% {
    transform: rotate(-20deg) ;
  }
  100% {
    transform: rotate(0deg) ;
  }
}

/* 「文字」の種別が「サメ」の画像とアニメーション */
.character-shark {
  background: center/90% no-repeat url('../../../images/character-shark.png');
  animation: 3s ease-in-out infinite animation-character-shark;
  transform-origin: center center;
  width: 650px !important;
}
@keyframes animation-character-shark {
  0% {
    transform: perspective(200px) rotate3d(0, 1, 0, 0deg);
  }
  25% {
    transform: perspective(200px) rotate3d(0, 1, 0, -5deg);
  }
  50% {
    transform: perspective(200px) rotate3d(0, 1, 0, 5deg);
  }
  100% {
    transform: perspective(200px) rotate3d(0, 1, 0, 0deg);
  }
}



/* ------------------------------------------- */
/* ステージ「花火」の定義                        */
/* ------------------------------------------- */

/* ステージ「花火」の枠 */
.practice-stage-hanabi-frame {
  width: 1000px;
  height: 600px;
  display: flex;
  flex-direction: row;
  background-image: url(../../../images/background-sakura.png);
  background-size: 100%;
  background-repeat: no-repeat;
}

/* ------------------------------------------- */
/* ステージに発射する「文字」の定義               */
/* ------------------------------------------- */

/* 文字のベース（sakura、birdの共通部分）*/
.character-base {
  position: absolute;
  width: 200px;
  height: 200px;
  font-size: 80px;
  color: var(--kt-character);
}

/* 「文字」が数字である場合の文字色 */
.character-number {
  color: var(--kt-character-number) !important;
}
